name: Build and deploy ASP app to Azure Web App - mywebapp123123

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    permissions:
      contents: read # Required for actions/checkout

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup MSBuild
        uses: microsoft/setup-msbuild@v1.0.2

      - name: Setup NuGet
        uses: NuGet/setup-nuget@v1.0.5

      - name: Restore NuGet packages
        run: nuget restore eShopOnWeb.sln

      - name: Build and publish to folder
        shell: pwsh
        run: |
          $publishDir = "published\"
          msbuild "eShopOnWeb.sln" /nologo /verbosity:m "/t:Build;Publish" /p:Configuration=Release /p:PublishDir=$publishDir

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: ASP-app
          path: published/**

  deploy:
    runs-on: windows-latest
    needs: build
    permissions:
      id-token: write  # Required for requesting the JWT
      contents: read   # Required for actions/checkout

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: ASP-app

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_81AB39224AFC4B30AF36870C903B1562 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_2A813B328D234DE8BF3011D95D4A4245 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_FB6143731C1E45D099E4F08889BE573E }}

      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'mywebapp123123'
          slot-name: 'Production'
          package: .
